/* ==========================================================================
   Цвета
   ========================================================================== */

$text: #000000;
$white: #fff;
$accent: #024E68;
$accent-light: #d4f4ff;
$pale-lavender-blue: #E8E8F2;

/* ==========================================================================
   Шрифты
   ========================================================================== */


/* ==========================================================================
   Прочее
   ========================================================================== */

$transition: all .3s ease-in-out;
